<footer class="fixed-bottom d-flex align-items-center">
  <div class="footer-area container">
    <div class="row justify-content-between align-items-center">
      <div
        class="d-flex justify-content-center justify-content-md-start col-sm"
      >
        <img
          src="/images/logo-stomahulp.svg"
          alt="stomahulp"
          width="183"
          height="46"
        />
      </div>
      <div
        class="footer-content d-flex gap-4 justify-content-center justify-content-md-end col-sm"
      >
        <a class="nav-link" href="#">Privacyverklaring</a>
        <a class="nav-link" href="#">Cookies</a>
      </div>
    </div>
  </div>
</footer>
