<section class="container">
  <div class="row row-gap-3">
    <div class="col-md-8">
      <div class="hero-content d-flex gap-4 flex-column">
        <div class="title d-flex flex-column">
          <div class="d-flex align-items-center flex-wrap">
            <div class="title">Eerste hulp voor</div>
            <div class="g-container">
              <ul style="--s: 3">
                <li>alle</li>
                <li>nieuwe</li>
                <li>onzekere</li>
                <li>alle</li>
              </ul>
            </div>
          </div>
          <div class="title">stomadragers</div>
        </div>
        <div class="subtitle">
          StomaHulp biedt kosteloos persoonlijke en professionele ondersteuning
          bij klachten die ontstaan bij het dragen van een stoma.
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="top-slider">
        <div class="card">
          <img
            src="/images/couple.jpg"
            class="card-img-top"
            alt="stoma-mensen"
          />
          <div class="card-body">
            <div
              id="carouselExampleControls"
              class="carousel slide card-img-top"
              data-bs-ride="carousel"
            >
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="d-flex align-items-center justify-content-around">
                    <img
                      src="/images/colostomie.svg"
                      width="35px"
                      height="35px"
                      alt="stoma icon"
                      class="stoma-icon"
                    />
                    <p class="text-center">"Bijzonder fijn geholpen."</p>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="d-flex align-items-center justify-content-around">
                    <img
                      src="/images/colostomie.svg"
                      width="35px"
                      height="35px"
                      alt="stoma icon"
                      class="stoma-icon"
                    />
                    <p class="text-center">"Ook zo fijn geholpen."</p>
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="d-flex align-items-center justify-content-around">
                    <img
                      src="/images/colostomie.svg"
                      width="35px"
                      height="35px"
                      alt="stoma icon"
                      class="stoma-icon"
                    />
                    <p class="text-center">"Nog fijner geholpen."</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
